body {
    font-family: 'Montserrat';
    font-style: normal;
    color: $main_color;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;

}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1210px;
    }
}

h1,
.h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    text-transform: uppercase;
}

h2,
.h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
}

h3,
.h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-transform: uppercase;
}

h4,
.h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

h5,
.h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
}

p {
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.ginger_btn {
    width: 174px;
    height: 50px;
    background: #D3A45D;
    border-radius: 30px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 50px;
    color: #FFFFFF;
    text-align: center;

    &:hover {
        background: #F2C876;
    }

    &:active {
        background: #AB7C44;
    }

    &:disabled {
        background: #E7E3DE;
        width: 105px;
        height: 50px;
        border-radius: 30px;
    }
}

.white_btn {
    width: 179px;
    height: 50px;
    border: 2px solid #D3A45D;
    border-radius: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 45px;
    color: #D3A45D;
    background-color: #fff;

    &:hover {
        background-color: #D3A45D;
        color: #fff;
    }

    &:active {
        background: #AB7C44;
    }

    &:disabled {
        background: #E7E3DE;
    }
}