 .introduction {
     padding: 60px 0 80px;

     &__content {
         max-width: 580px;
         margin: 0 auto;
     }

     &__title {
         text-transform: uppercase;
         margin-bottom: 20px;
     }

 }

 @media(max-width: 575px) {
     .introduction {
         &__title {

             h2 {
                 font-size: 24px;
                 line-height: 29px;
             }
         }

         &__text {
            
             p {
                 font-size: 15px;
                 line-height: 25px;
             }
         }
     }
 }